fastapi
uvicorn
SQLAlchemy
psycopg2-binary
celery
redis
python-dotenv
passlib
bcrypt==3.2.0
python-jose
openai
azure-ai-documentintelligence
opencv-python-headless
httpx
reportlab
qrcode
pydantic
python-multipart
gevent==23.9.1
GeoAlchemy2==0.14.1
Shapely==2.0.1
numpy<2
